<div class="container">
  <form name="form" #form="ngForm" (ngSubmit)="form.form.valid && search(false)" novalidate>
    <div class="search-toolbar full-width">
      <div class="full-width search-div">
        <input name="title" type="text" class="full-width search-input" [(ngModel)]="titleValue"
          placeholder="Search..." #title="ngModel" [ngClass]="{ 'invalid': form.submitted && title.invalid }" required>
        <p *ngIf="form.submitted && title.invalid" class="invalid-feedback">
          Search title is required!
        </p>
      </div>
      <div class="button-div">
        <button mat-raised-button color="primary" type="submit" [disabled]="searching" class="button">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </form>
  <div class="results-area">
    <div>
      <app-youtube-result *ngFor="let video of videos" [video]="video"></app-youtube-result>
    </div>
    <div class="container" *ngIf="searching">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <div class="full-width search-more-bar">
      <button mat-raised-button color="primary" (click)="search(true)" *ngIf="videos && videos.length > 0 && !searching">
        More Results
      </button>
    </div>
  </div>
</div>
