<div class="container">
  <form [formGroup]="searchForm" (ngSubmit)="search(false)">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="search-toolbar full-width">
      <div class="full-width search-div">
        <input type="text" #searchInput class="full-width search-input" placeholder="Search..." formControlName="title">
      </div>
      <button mat-raised-button color="primary" (click) = "searchInput.value = ''" type="submit" *ngIf="!searching">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </form>
  <div>
    <app-youtube-result *ngFor="let video of videos" [video]="video"></app-youtube-result>
  </div>
  <div class="container" *ngIf="searching">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="full-width search-more-bar">
    <button mat-raised-button color="primary" (click)="search(true)" *ngIf="videos && videos.length > 0 && !searching">
      More Results
    </button>
  </div>
</div>
