<div class="container">
    <form [formGroup]="searchForm" (ngSubmit)="search(false)">
        <div class="form-row">
            <div class="col-sm-8 col-md-10 search-bar">
                <input formControlName="title" class="form-control form-control-lg" placeholder="Enter Title Here">
            </div>
            <div class="col-sm-4 col-md-2 search-bar">
                <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="searching">
                    Search
                </button>
            </div>
        </div>
    </form>
    <div class="container" [hidden]="!searching">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div class="container video-results">
        <div>
            <app-youtube-result *ngFor="let video of videos" [video]="video"></app-youtube-result>
        </div>
    </div>
    <div class="row justify-content-md-center" style="margin-bottom: 15px; padding-left: 20px; padding-right: 20px;">
        <button class="btn col-md-auto btn-primary" (click)="search(true)" [hidden]="searching || videos === null" [disabled]="true">
            More Results
        </button>
    </div>
</div>
